.vscode/**
.vscode-test/**
node_modules/**
.gitignore
.yarnrc
webpack.config.js
tsconfig.json
vsc-extension-quickstart.md
**/*.map
**/.eslintrc.json
**/tsconfig.json
**/.vscode
**/.vscode-test
**/.history
**/src/**
**/out/**
**/test/**
.git
.github
.eslintrc.json
.eslintignore
.prettierignore
.prettierrc
.editorconfig
.nvmrc
.gitattributes
.travis.yml
appveyor.yml
CHANGELOG.md
yarn.lock
yarn-error.log
package-lock.json
.yarnclean
**/samples/** 